In [1]:
import mysql.connector
import pandas as pd

# Database Connection
mydb = mysql.connector.connect(host = "localhost",user = "ragu",password ="password")
cursor = mydb.cursor()

In [2]:
# Use Database joins
cursor.execute("use joins")

In [3]:
# List of Tables
cursor.execute("show tables")
for x in cursor:
    print(x)

('Iris_petal',)
('Iris_sepal',)
('Iris_species',)

In [4]:
# Retrieving data using select
pd.read_sql_query("select * from Iris_petal ",mydb)

      Id  PetalLengthCm  PetalWidthCm Species_Id
0      1            1.4           0.2          A
1      2            1.4           0.2          A
2      3            1.3           0.2          A
3      4            1.5           0.2          A
4      5            1.4           0.2          A
..   ...            ...           ...        ...
145  146            5.2           2.3          C
146  147            5.0           1.9          C
147  148            5.2           2.0          C
148  149            5.4           2.3          C
149  150            5.1           1.8          C

[150 rows x 4 columns]

In [5]:
# Retrieving data using select
pd.read_sql_query("select * from Iris_sepal ",mydb)

      Id  SepalLengthCm  SepalWidthCm Species_Id
0      1            5.1           3.5          A
1      2            4.9           3.0          A
2      3            4.7           3.2          A
3      4            4.6           3.1          A
4      5            5.0           3.6          A
..   ...            ...           ...        ...
145  146            6.7           3.0          C
146  147            6.3           2.5          C
147  148            6.5           3.0          C
148  149            6.2           3.4          C
149  150            5.9           3.0          C

[150 rows x 4 columns]

In [6]:
# Retrieving data using select
pd.read_sql_query("select * from Iris_species ",mydb)

   Id Species_Id          Species
0   1          A      Iris-setosa
1   2          B  Iris-versicolor
2   3          C   Iris-virginica

In [14]:
# Inner join
pd.read_sql_query("select PetalLengthCm , PetalWidthCm, Species from Iris_petal INNER JOIN Iris_species on Iris_petal.Species_Id = Iris_species.Species_Id ",mydb)

     PetalLengthCm  PetalWidthCm         Species
0              1.4           0.2     Iris-setosa
1              1.4           0.2     Iris-setosa
2              1.3           0.2     Iris-setosa
3              1.5           0.2     Iris-setosa
4              1.4           0.2     Iris-setosa
..             ...           ...             ...
145            5.2           2.3  Iris-virginica
146            5.0           1.9  Iris-virginica
147            5.2           2.0  Iris-virginica
148            5.4           2.3  Iris-virginica
149            5.1           1.8  Iris-virginica

[150 rows x 3 columns]

In [15]:
pd.read_sql_query("select * from Iris_petal INNER JOIN Iris_species on Iris_petal.Species_Id = Iris_species.Species_Id order by 1",mydb)

,Id,PetalLengthCm,PetalWidthCm,Species_Id,Id,Species_Id,Species
0,1,1.4,0.2,A,1,A,Iris-setosa
1,2,1.4,0.2,A,1,A,Iris-setosa
2,3,1.3,0.2,A,1,A,Iris-setosa
3,4,1.5,0.2,A,1,A,Iris-setosa
4,5,1.4,0.2,A,1,A,Iris-setosa
...,...,...,...,...,...,...,...
145,146,5.2,2.3,C,3,C,Iris-virginica
146,147,5.0,1.9,C,3,C,Iris-virginica
147,148,5.2,2.0,C,3,C,Iris-virginica
148,149,5.4,2.3,C,3,C,Iris-virginica
149,150,5.1,1.8,C,3,C,Iris-virginica

In [16]:
pd.read_sql_query("select * from Iris_petal INNER JOIN Iris_species on Iris_petal.Species_Id = Iris_species.Species_Id where Iris_species.species ='Iris-setosa'  ",mydb)

    Id  PetalLengthCm  PetalWidthCm Species_Id  Id Species_Id      Species
0    1            1.4           0.2          A   1          A  Iris-setosa
1    2            1.4           0.2          A   1          A  Iris-setosa
2    3            1.3           0.2          A   1          A  Iris-setosa
3    4            1.5           0.2          A   1          A  Iris-setosa
4    5            1.4           0.2          A   1          A  Iris-setosa
5    6            1.7           0.4          A   1          A  Iris-setosa
6    7            1.4           0.3          A   1          A  Iris-setosa
7    8            1.5           0.2          A   1          A  Iris-setosa
8    9            1.4           0.2          A   1          A  Iris-setosa
9   10            1.5           0.1          A   1          A  Iris-setosa
10  11            1.5           0.2          A   1          A  Iris-setosa
11  12            1.6           0.2          A   1          A  Iris-setosa
12  13            1.4           0.1          A   1          A  Iris-setosa
13  14            1.1           0.1          A   1          A  Iris-setosa
14  15            1.2           0.2          A   1          A  Iris-setosa
15  16            1.5           0.4          A   1          A  Iris-setosa
16  17            1.3           0.4          A   1          A  Iris-setosa
17  18            1.4           0.3          A   1          A  Iris-setosa
18  19            1.7           0.3          A   1          A  Iris-setosa
19  20            1.5           0.3          A   1          A  Iris-setosa
20  21            1.7           0.2          A   1          A  Iris-setosa
21  22            1.5           0.4          A   1          A  Iris-setosa
22  23            1.0           0.2          A   1          A  Iris-setosa
23  24            1.7           0.5          A   1          A  Iris-setosa
24  25            1.9           0.2          A   1          A  Iris-setosa
25  26            1.6           0.2          A   1          A  Iris-setosa
26  27            1.6           0.4          A   1          A  Iris-setosa
27  28            1.5           0.2          A   1          A  Iris-setosa
28  29            1.4           0.2          A   1          A  Iris-setosa
29  30            1.6           0.2          A   1          A  Iris-setosa
30  31            1.6           0.2          A   1          A  Iris-setosa
31  32            1.5           0.4          A   1          A  Iris-setosa
32  33            1.5           0.1          A   1          A  Iris-setosa
33  34            1.4           0.2          A   1          A  Iris-setosa
34  35            1.5           0.1          A   1          A  Iris-setosa
35  36            1.2           0.2          A   1          A  Iris-setosa
36  37            1.3           0.2          A   1          A  Iris-setosa
37  38            1.5           0.1          A   1          A  Iris-setosa
38  39            1.3           0.2          A   1          A  Iris-setosa
39  40            1.5           0.2          A   1          A  Iris-setosa
40  41            1.3           0.3          A   1          A  Iris-setosa
41  42            1.3           0.3          A   1          A  Iris-setosa
42  43            1.3           0.2          A   1          A  Iris-setosa
43  44            1.6           0.6          A   1          A  Iris-setosa
44  45            1.9           0.4          A   1          A  Iris-setosa
45  46            1.4           0.3          A   1          A  Iris-setosa
46  47            1.6           0.2          A   1          A  Iris-setosa
47  48            1.4           0.2          A   1          A  Iris-setosa
48  49            1.5           0.2          A   1          A  Iris-setosa
49  50            1.4           0.2          A   1          A  Iris-setosa

In [18]:
pd.read_sql_query("select * from Iris_petal INNER JOIN Iris_species on Iris_petal.Species_Id = Iris_species.Species_Id  where Iris_species.species ='Iris-setosa' order by 3  ",mydb)

    Id  PetalLengthCm  PetalWidthCm Species_Id  Id Species_Id      Species
0   33            1.5           0.1          A   1          A  Iris-setosa
1   38            1.5           0.1          A   1          A  Iris-setosa
2   10            1.5           0.1          A   1          A  Iris-setosa
3   35            1.5           0.1          A   1          A  Iris-setosa
4   13            1.4           0.1          A   1          A  Iris-setosa
5   14            1.1           0.1          A   1          A  Iris-setosa
6   36            1.2           0.2          A   1          A  Iris-setosa
7   25            1.9           0.2          A   1          A  Iris-setosa
8    1            1.4           0.2          A   1          A  Iris-setosa
9   28            1.5           0.2          A   1          A  Iris-setosa
10  29            1.4           0.2          A   1          A  Iris-setosa
11  30            1.6           0.2          A   1          A  Iris-setosa
12  31            1.6           0.2          A   1          A  Iris-setosa
13  34            1.4           0.2          A   1          A  Iris-setosa
14  26            1.6           0.2          A   1          A  Iris-setosa
15  37            1.3           0.2          A   1          A  Iris-setosa
16  39            1.3           0.2          A   1          A  Iris-setosa
17  40            1.5           0.2          A   1          A  Iris-setosa
18  43            1.3           0.2          A   1          A  Iris-setosa
19  47            1.6           0.2          A   1          A  Iris-setosa
20  48            1.4           0.2          A   1          A  Iris-setosa
21  49            1.5           0.2          A   1          A  Iris-setosa
22  50            1.4           0.2          A   1          A  Iris-setosa
23  11            1.5           0.2          A   1          A  Iris-setosa
24   2            1.4           0.2          A   1          A  Iris-setosa
25   3            1.3           0.2          A   1          A  Iris-setosa
26   4            1.5           0.2          A   1          A  Iris-setosa
27   5            1.4           0.2          A   1          A  Iris-setosa
28   8            1.5           0.2          A   1          A  Iris-setosa
29   9            1.4           0.2          A   1          A  Iris-setosa
30  12            1.6           0.2          A   1          A  Iris-setosa
31  15            1.2           0.2          A   1          A  Iris-setosa
32  23            1.0           0.2          A   1          A  Iris-setosa
33  21            1.7           0.2          A   1          A  Iris-setosa
34  42            1.3           0.3          A   1          A  Iris-setosa
35  46            1.4           0.3          A   1          A  Iris-setosa
36  41            1.3           0.3          A   1          A  Iris-setosa
37   7            1.4           0.3          A   1          A  Iris-setosa
38  20            1.5           0.3          A   1          A  Iris-setosa
39  19            1.7           0.3          A   1          A  Iris-setosa
40  18            1.4           0.3          A   1          A  Iris-setosa
41  17            1.3           0.4          A   1          A  Iris-setosa
42   6            1.7           0.4          A   1          A  Iris-setosa
43  45            1.9           0.4          A   1          A  Iris-setosa
44  32            1.5           0.4          A   1          A  Iris-setosa
45  27            1.6           0.4          A   1          A  Iris-setosa
46  22            1.5           0.4          A   1          A  Iris-setosa
47  16            1.5           0.4          A   1          A  Iris-setosa
48  24            1.7           0.5          A   1          A  Iris-setosa
49  44            1.6           0.6          A   1          A  Iris-setosa

In [19]:
pd.read_sql_query("select * from Iris_petal INNER JOIN Iris_species on Iris_petal.Species_Id = Iris_species.Species_Id  where Iris_species.species ='Iris-setosa' order by 3 limit 10 ",mydb)

   Id  PetalLengthCm  PetalWidthCm Species_Id  Id Species_Id      Species
0  13            1.4           0.1          A   1          A  Iris-setosa
1  10            1.5           0.1          A   1          A  Iris-setosa
2  35            1.5           0.1          A   1          A  Iris-setosa
3  38            1.5           0.1          A   1          A  Iris-setosa
4  14            1.1           0.1          A   1          A  Iris-setosa
5  33            1.5           0.1          A   1          A  Iris-setosa
6  49            1.5           0.2          A   1          A  Iris-setosa
7   1            1.4           0.2          A   1          A  Iris-setosa
8  39            1.3           0.2          A   1          A  Iris-setosa
9  36            1.2           0.2          A   1          A  Iris-setosa

In [21]:
pd.read_sql_query("select * from Iris_petal P INNER JOIN Iris_species S on P.Species_Id = S.Species_Id  where S.species ='Iris-setosa' order by 3 limit 5  ",mydb)

   Id  PetalLengthCm  PetalWidthCm Species_Id  Id Species_Id      Species
0  33            1.5           0.1          A   1          A  Iris-setosa
1  14            1.1           0.1          A   1          A  Iris-setosa
2  35            1.5           0.1          A   1          A  Iris-setosa
3  38            1.5           0.1          A   1          A  Iris-setosa
4  13            1.4           0.1          A   1          A  Iris-setosa

In [40]:
# Outer join
# Left outer join
pd.read_sql_query("select PetalWidthCm , sepalWidthCm from Iris_petal P  LEFT OUTER JOIN  Iris_sepal S on P.Id = S.Id  limit  10 ",mydb)

   PetalWidthCm  sepalWidthCm
0           0.2           3.5
1           0.2           3.0
2           0.2           3.2
3           0.2           3.1
4           0.2           3.6
5           0.4           3.9
6           0.3           3.4
7           0.2           3.4
8           0.2           2.9
9           0.1           3.1